html, body {

  color: #ABB2BF;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: 130%;
  /*background-color: #21252b; //file selection background color*/
}
body {
  margin: 0;
}

p {
  color: #e06c75;
}

.comment {
  color: #98c379;
}

.floatright {
  float:right;
}

dl {
  font-size: 120%;
}

section {
    margin-left: 165px;
    margin-right: 100px;
}

.container {
  overflow: hidden;
}


img.atomlogo {
  position: absolute;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #e06c75;
}

.fp-controlArrow.fp-prev {
    left: 50px;
    border-color: transparent #e06c75 transparent transparent;
}

.fp-controlArrow.fp-next{
    right: 50px;
    border-color: transparent transparent transparent #e06c75;
}

a {
    color: #e06c75;
}

.alignmiddle {
  text-align: center;
}
