html, body {

  color: #ABB2BF;
  background-color: #282c34; /*background colour*/
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;

  /*background-color: #21252b; //file selection background color*/



}
