html, body {

  color: #ABB2BF;
  background-color: #282c34; /*background colour*/
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  min-height: 2000px;
  /*background-color: #21252b; //file selection background color*/
}

div {
  margin-left: 165px;
}

p {
  color: #e06c75;
}

.comment {
  color: #98c379;
}

section {
    margin-left: 160px;
}

.dark {
  background-color: inherit;
}

.light {
  background-color: white;
}

.container {
  min-height: 400px;
  overflow: hidden;
  position: relative;
  margin-left: 0px;
}

.default-img {
  position: fixed;
}

.moveable-img {
  position: absolute;
}
