html, body {

  color: #e06c75;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  /*background-color: #21252b; //file selection background color*/
}
body {
  margin: 0;
}

p {
  color: #ABB2BF;
}

.comment {
  color: #98c379;
}

section {
    margin-left: 165px;
}

.dark {
}

.light {
  color: #e45649;

}

.light p {
  color: #383a42;
}

.light .comment {
  color: #50a14f;
}

.container {
  overflow: hidden;
}

img.atomlogo {
  position: absolute;
}

#fp-nav ul li a span {
    background: red;
}

.fp-controlArrow.fp-prev {
    left: 50px;
}

.fp-controlArrow.fp-next{
    right: 50px;
}
